Package: com.maheshdj.legacysliders
Name: legacysliders
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: MaheshDJ
Author: MaheshDJ
Section: Tweaks
